<div class="row clearfix" id="aboutus">

    <link href="/css/aboutus.css" rel="stylesheet">

    <div class="col-md-12 column">
        <h1>
            About Us
        </h1>

        <p>
            TODO: Include bit about CCWA here and the relationship between CCWA and The Algerian.
        </p>

        <p>
            The Algerian takes its name from Dr. Chadwick Alger, the first adviser of the Collegiate Council of World Affairs. Dr. Alger was an esteemed Political Scientist and Professor Emeritus at the Ohio State University. His areas of expertise included global problem-solving by international governmental and non-governmental organizations, primarily focused on the United Nations System; the world relations of local people, governments and organizations; and inventory and evaluation of available tools and strategies for peace building.
        </p>

    </div>
</div><!-- End of about us section -->

