<div class="row clearfix" id="article">

    <div class="row clearfix text-center" id="article-header">
        <div class="col-md-12 column">
            <h1>
                Understanding the ‘BRICS Bank’
            </h1>
            <h4>
                by Peter Giblin
            </h4>

            <h4>
                November 12, 2013
            </h4>

            <img class="img" alt="140x140" src="/images/articles/large/1.jpg" />

        </div>
    </div>

    <div class="row clearfix" id="article-body">
        <div class="col-md-12 column">

            <p>
                If you blinked, you may have missed one of the most consequential events of the summer. In fact, with planes falling out the sky at an alarming rate, intense fighting in both Eastern Europe and the Middle East, and a virulent epidemic ravaging East Africa, it was quite easy to overlook a development that could drastically alter global finance. On July 15th, the leaders of Brazil, Russia, India, China, and South Africa finalized an agreement to found the New Development Bank.  The NDB, or “BRICS Bank”, has the potential to dramatically rework how capital moves around the world by challenging the monopoly held by the Western-backed World Bank and IMF. Given the complex nature of global finance, it would be useful to take a closer look at the system that was in place before the NDB was founded in hopes of understanding the significance of this seminal event.
            </p>

            <p>
                As the Second World War drew to a close, the leaders of the Allied nations looked to institutionalize relations amongst states in order to prevent the kind of catastrophes that had shaken humanity to its core twice in the thirty years. At the Mount Washington Hotel in Bretton Woods, New Hampshire, 730 delegates from the 44 Allied nations gathered in an effort to create a institutionalized forum for one of the key arenas in interstate relations: international economics. Previously, international finance had been unregulated, and the protectionist policies that followed the Great Depression only served to exacerbate the political crisis of the late 1930’s.
            </p>

            <p>
                After 3 weeks the negotiators voted to establish two groundbreaking institutions; the International Bank for Reconstruction and Development (today’s World Bank) and the International Monetary Fund. The IBRD ‘s initial purpose was to aid in the reconstruction of Europe by financing infrastructure projects. The IMF, on the other hand, set about creating an orderly system of payments and regularizing exchange rates.  As the 20th century progressed the two institutions evolved, with the World Bank shifting its focus to long-term development projects in poorer countries and the IMF expanding its supervision of exchange relations to balance-of-payments and liquidity pressures. Nevertheless, the two banks have maintained a common goal since their infancy: the normalization of international economic relations and the preservation of free trade. This is not to say that the two institutions have been without their controversies; the conditionality requirements of the IMF and the World Bank’s stiff rules for loans have had their fair share of criticism. The structural reforms required by the institutions have been sharply criticized as being more of a burden for developing countries as they have at times failed to spur growth.
            </p>

            <p>
                In a 2001 Goldman Sachs article, economist Jim O’Neil coined the term “BRIC’s” to describe the countries he viewed as the economic powerhouses of the future (the original term was BRIC – Brazil, Russia, India, China – as South Africa did not join the group until 2011). The argument went that each of the countries’ population, natural resources, and favorable age demographics predisposed them towards future economic dominance. The idea quickly gained popularity in the financial world with each bank/financial publication making their own predictions on the future success of the BRICS. Some estimates had the BRICS achieving supremacy as early as 2025, while more conservative forecasts have them eclipsing the G-7 by 2050.
            </p>

            <p>
                What O’Neil’s article did not envisage was the organization of the BRICS into any sort of formal bloc. Nonetheless, beginning with the first BRICS summit in 2009, the leaders of the respective countries have met periodically to strengthen “collaboration within the BRICS” and have committed themselves “to advance the reform of international financial institutions”.  Though ambitious in their goals, the BRICS were taken less seriously than they perhaps deserved.
            </p>

            <p>
                Nevertheless, at the fifth BRICS summit in March, 2013,  an agreement was reached to finalize negotiations for the New Development Bank by 2014 with an initial capital pool of US$ 100 billion. This news hardly caused a stir among Western news outlets.  However, the July 2014 announcement that formally established the New Development Bank did, for a fleeting moment, catch the attention of the global community, for what the BRICS had created could truly rival the prevailing global financial order. Headquartered in Shanghai, the New Development Bank comes replete with a preliminary capital pool of 50 billion dollars. The NDB, which will have up to $34 billion in lending capacity annually, is analogous to the World Bank in that its purpose will be to finance development and infrastructure projects in poor countries. The BRICS also agreed upon the establishment of the Contingent Reserve Arrangement (CRA), a $100 billion fund that will serve as an alternative to the IMF when countries run into balance of payment troubles. The key difference between what the BRICS have set up and what has been in place for seventy years is that NDB and CRA aid do not come with the customary World Bank/IMF stipulations of austerity and fiscal responsibility.
            </p>

            <p>
                Though the BRICS have maintained their World Bank and IMF memberships and the NDB/CRA has significantly fewer funds than their counterparts, their foundation represents a significant schism in global finance. Jim O’Neil’s prediction included nothing about the BRICS forming an economic union. This raises the question, then, of why five middle-income countries spanning four continents would be compelled to take such a drastic step. The answer lies in the West’s refusal to relinquish its complete control of international finance.
            </p>

            <p>
                The IMF’s voting power is a quota system that, in general terms, is based on how much a country must pay given the relative size of their GDP. Unfortunately for rapidly growing countries like China (whose voting power in the IMF is about half of what it “should” be given the country’s current GDP), the quotas have not been updated in years. A revision for the quotas was approved at the 2001 G-20 summit but has yet to take effect, as the U.S. Senate has let the treaty languish for four years now. This sluggishness is present despite the fact that the revised quota would still afford the U.S. a veto on major matters (IMF reforms require an 85% supermajority and the U.S. would still possess 17% of the vote).  Additionally, the developing world’s hopes for a non-European head of the IMF were dashed when Christine Lagarde, a French national, was appointed to lead the IMF in July 2011.
            </p>

            <p>
                The NDB, then, comes as a result of a feeling of powerlessness on the part of non-Western countries as it is clear the BRICS are not alone in their resentment towards the Bretton Woods system. However, the BRICS are the only ones with the capabilities to challenge the West and the consequence of their contestation will be a marked decentralization of global finance. No longer will developing nations be beholden to the whims of the West in order to receive a loan. Instead, the projects that the NDB finances will be more in line with those countries’ own prerogatives. To say the NDB/CRA will soon replace the World Bank/IMF would be misguided – but to think that the NDB/CRA are insignificant is shortsighted.
            </p>

            <p>
                <i>
                    (photo credit: Agence France-Presse/Getty Images)
                </i>
            </p>


        </div>
    </div>

</div><!-- End of articles section --> 
