<div class="row clearfix" id="article-selection">

    <link href="/css/home.css" rel="stylesheet">

    <div class="col-md-3 column">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRegion" data-toggle="dropdown" aria-expanded="true">
                Region
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuRegion">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Americas</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Asia</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Africa</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Europe</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 column">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuTopic" data-toggle="dropdown" aria-expanded="true">
                Topic
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuTopic">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Education</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">War</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Politics</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Economics</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 column">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAuthor" data-toggle="dropdown" aria-expanded="true">
                Author
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuAuthor">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Natalie Davis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Emmanuel Dzotsi</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Josh Freedman</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Peter Giblin</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Todd Ives</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sarah Montell</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Miranda Onnen</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tyler Parker</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Clayton Sharb</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Joe Staff</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 column">
       <form class="navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form> 
    </div>
</div>

<div class="row clearfix" id="recent-articles">

    <div class="row clearfix article-description">
        <div class="col-md-8 column">
            <h3>
                <a href="/article/3">The Comeback Kid: Explaining Governor Kasich’s Victory</a>
            </h3>
            <h4>
                by Adam Pohlabel
            </h4>
            <p>
                It’s late 2011. Newly-minted Ohio Governor John Kasich has just suffered perhaps the worst defeat of his political career. Senate Bill Five, an attempt to limit collective bargaining for public employee unions, had just been overwhelmingly rejected by the voters in a referendum. Not even a year into the office...
            </p>
            <h5>
                December 1, 2014
            </h5>
        </div>
        <div class="col-md-4 column text-center">
            <img class="img-circle" alt="140x140" src="images/articles/icons/3.jpg" />
        </div>
    </div>

    <hr>

    <div class="row clearfix article-description">
        <div class="col-md-8 column">
            <h3>
                <a href="/article/4">Terror: Politicizing a Word</a>
            </h3>
            <h4>
                by Yehia Mekawi
            </h4>
            <p>
                To be sure, this is not an article on the act of terrorism itself, or at least not directly so. This is a piece on the word terrorism; the phrase itself garners debate and contention over both its definition and designation. So few words have been able to pave their...
            </p>
            <h5>
            December 1, 2014
            </h5>
        </div>
        <div class="col-md-4 column text-center">
            <img class="img-circle" alt="140x140" src="images/articles/icons/4.jpg" />
        </div>
    </div>

    <hr>

    <div class="row clearfix article-description">
        <div class="col-md-8 column">
            <h3>
                <a href="/article/1">Understanding the ‘BRICS Bank’</a>
            </h3>
            <h4>
                by Peter Giblin
            </h4>
            <p>
                If you blinked, you may have missed one of the most consequential events of the summer. In fact, with planes falling out the sky at an alarming rate, intense fighting in both Eastern Europe and the Middle East, and a virulent epidemic ravaging East Africa, it was quite easy to...
            </p>
            <h5>
                November 12, 2014
            </h5>

        </div>
        <div class="col-md-4 column text-center">
            <img class="img-circle" alt="140x140" src="images/articles/icons/1.jpg" />
        </div>
    </div>

    <hr>

    <div class="row clearfix article-description">
        <div class="col-md-8 column">
            <h3>
                <a href="/article/2">Breaking the Language Barrier</a>
            </h3>
            <h4>
                by Shannon Fillingim
            </h4>
            <p>
                In 1907, President Theodore Roosevelt wrote, “We have room for but one language in this country and that is the English language, for we intend to see that the crucible turns our people out as Americans, of American nationality, and not as dwellers in a polyglot boarding house.” Though President...
            </p>
            <h5>
                October 20, 2014
            </h5>
        </div>
        <div class="col-md-4 column text-center">
            <img class="img-circle" alt="140x140" src="images/articles/icons/2.jpg" />
        </div>
    </div>

</div><!-- End of articles section --> 
